<ion-app>
 
  <ion-header [translucent]="true">
    <ion-toolbar>
      <ion-title>
        Cooling Control
      </ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-tabs>
    <ion-router-outlet> </ion-router-outlet>
  
    <ion-tab-bar slot="bottom">
      <ion-tab-button tab="list">
        <ion-icon name="layers"></ion-icon>
        Cihazlarım
      </ion-tab-button>
      <ion-tab-button tab="add">
        <ion-icon name="qr-code"></ion-icon>
        QR
      </ion-tab-button>
      <ion-tab-button tab="setting">
        <ion-icon name="settings"></ion-icon>
        Ayarlar
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
  
</ion-app>
